.experience__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.experience__container > div {
  background: var(--color-bg-variant);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}
.experience__container > div:hover {
  background-color: var(--color-primary-variant);
  border-color: var(--color-primary);
  cursor: default;
}
.experience__container > div h3 {
  
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}
.experience__content {
  grid-template-columns: repeat(1,1fr);
  gap: 1rem;
}
.experience__details {
  display: flex;
  gap: 1rem;
}
.experience__details-icon {
  margin-top: 6px;
  color: rgb(158, 236, 255);
  margin-left: 10px;
  width: 20px;
}

@media screen and (max-width: 1024px) {
  .experience__container {
      grid-template-columns: 1fr;
      
  }

  .experience__container > div {
      width: 80%;
      margin: 0 auto;
      padding: 2rem;
      
  }

  .experience__content p {
      padding: 1rem;
      text-align: center;  }
}

@media screen and (max-width: 700px) {
  .experience__container {
    grid-template-columns: 2fr;
      gap: 1rem;
  }
  .experience__container > div {
      width: 100%;
      padding: 1rem 2rem;
      .experience__container > h3 {
        grid-template-columns: 3fr;
      } 
  }
}