
.vertical-timeline-element-title{
    color:var(--color-bg-variant);
}
.vertical-timeline-element-subtitle{
    color:  var(--color-primary) ;
}
.vertical-timeline-element-subtitle-p {
    color: black;
}